* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

:root[data-theme="light"] {
  --background: var(--gray-50);
  --backgroundHeader: var(--white);
  --borderColor: var(--gray-100);
  --backgroundLatest: var(--white);
  --color-text: var(--gray-500);
  --color-title: var(--gray-800);
  --color-logo: #494d4b;
  --background-scrollbar-thumb: var(--purple-800);
}

:root[data-theme="dark"] {
  --background: #121214;
  --backgroundHeader: #191622;
  --borderColor: #202024;
  --backgroundLatest: #202024;
  --color-text: #a8a8b3;
  --color-title: var(--white);
  --color-logo: var(--white);
  --background-scrollbar-thumb: #3d3c42;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1366px) {
  html {
    max-width: 1366px;
    font-size: 80%;
  }
}

body {
  background: var(--background);

  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 10px;
  }

  &::-webkit-scrollbar-corner {
    border: none;
    background: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background-scrollbar-thumb);
    border-radius: 3px;
    cursor: move;
  }
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--color-title);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
