.headerContainer {
  background: var(--backgroundHeader);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--borderColor);

  .logoColor {
    fill: var(--color-logo);
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--borderColor);

    @media (max-width: 665px) {
      display: none;
    }
  }

  .rightHeader {
    margin-left: auto;
    display: flex;
    align-items: center;

    span {
      text-transform: capitalize;
      @media (max-width: 665px) {
        display: none;
      }
    }

    button {
      margin-left: 1rem;
      border: 0;
      padding: 10px;
      background: var(--purple-500);
      border-radius: 1.5rem;
      color: var(--white);
      font-size: 0;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
